@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Work+Sans&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    border: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

img, picture, video, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6, a {
    overflow-wrap: break-word;
    color: #505050;
    margin: 0;
}

.ns {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 
* Media Queries 
*/
@media screen and (max-width: 350px) {
    p {
        font-size: 0.5rem;
    }

    .atomic-symbol {
        font-size: medium;
        padding: 15px;
    }

    .atomic-name {
        font-size: x-small;
        word-wrap: break-word;
    }

    #grid-div {
        gap: 0.5rem;
    }

    #grid-div h1, .footer-text {
        font-size: medium;
    }

    #heading-div h1, #heading-div h2 {
        font-size: large;
    }
}

@media screen and (max-width: 480px) {
    #grid-div {
        gap: 0.5rem;
    }

    .atomic-name {
        font-size: x-small !important;
        word-wrap: break-word;
    }

    #heading-div h1, #heading-div h2 {
        font-size: large;
    }

    #grid-div h1, .footer-text {
        font-size: medium;
    }
}

@media screen and (max-width: 750px) {
    .faceDown, .faceUp {
        min-height: 40px;
        min-width: 50px;
    }
}

@media screen and (max-width: 992px) {
    .faceDown, .faceUp {
        min-height: 60px;
        min-width: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .faceDown, .faceUp {
        min-width: 50px;
    }
}

/*
General css styling and selectors
*/

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

.dropdown-menu, nav, .navbar-nav, a, label {
    list-style: none;
    text-decoration: none;
    color: #505050;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

h1, i, a {
    padding: 5px;
    text-align: center;
}

.container {
    text-align: center;
}

.inline-block {
    display: inline-block;
    text-align: center;
}

.background {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            #3C6997 0%,
            #5ADBFF 25%,
            #FFDD4A 51%,
            #FE9000 100%);
    animation: AnimateBG 10s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

#heading-div {
    margin-top: 20px;
}

.headingElement {
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 10px 5px 5px #02e415;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 5px solid #505050;
    -webkit-animation: change-color 10s ease-in 0s infinite normal;
    -moz-animation: change-color 10s ease-in 0s infinite normal;
    -ms-animation: change-color 10s ease-in 0s infinite normal;
    animation: change-color 10s ease-in 0s infinite normal;
}

.headingElement h1 {
    padding: 0px 20px;
    text-align: center;
    font-weight: bold;
}

.atomic-number {
    font-size: small;
    padding-left: 5px;
    align-self: flex-start;
    text-align: left;
}

.atomic-name {
    display: block;
    font-size: small;
    text-align: center;
    clear: both;
}

.main-heading {
    vertical-align: top;
    font-weight: bold;
    padding: 20px 0px;
    display: inline-block;
    -webkit-animation: change-glow-color 10s ease-in 0s infinite normal;
    -moz-animation: change-glow-color 10s ease-in 0s infinite normal;
    -ms-animation: change-glow-color 10s ease-in 0s infinite normal;
    animation: change-glow-color 10s ease-in 0s infinite normal;
    text-shadow: 0px 0px 30px #40ff2f;
}

hr {
    color: #505050;
    border: 5px #505050 solid;
    border-radius: 5px;
}

.sub-heading {
    font-size: 2em;
    color: #505050;
}

#welcome-div {
    width: 100%;
    min-height: 65vh;
    background-color: antiquewhite;
    border: 5px #505050 solid;
    border-radius: 10px;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#welcome-div h1 {
    color: #505050;
    clear: both;
    display: block;
    padding-bottom: 50px;
}

.grid-div {
    width: 100%;
    min-height: 65vh;
    padding: 10px;
    border-color: blue;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.card {
    cursor: default;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

.faceUp {
    background: #02b3e4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 5px solid #505050;
    transform: rotateY(0);
    animation-name: flipInY;
    animation-duration: .75s;
    animation-iteration-count: 1;
}

.faceDown {
    background: #929292;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 5px solid #505050;
    animation: scale 0.5s 1;
}

.match {
    background: #02e415;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 5px solid #0099c4;
    pointer-events: none;
    animation: scale 0.5s 1;
}

.event-disabled {
    pointer-events: none;
}

.footer-text {
    padding: 10px;
}



/* ---------- Animations --------- */

/* animations */
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    33% {
        transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
        animation-timing-function: ease-in;
    }

    66% {
        transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
        opacity: 1;
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes change-color {
    15% {
        box-shadow: 0px 0px 30px #40ff2f;
    }

    35% {
        box-shadow: 0px 0px 30px #ff2ff5;
    }

    70% {
        box-shadow: 0px 0px 30px rgb(0, 247, 255);
    }

    85% {
        box-shadow: 0px 0px 30px #40ff2f;
    }
}

@keyframes change-glow-color {
    15% {
        text-shadow: 0px 0px 30px #40ff2f;
    }

    35% {
        text-shadow: 0px 0px 30px #ff2ff5;
    }

    70% {
        text-shadow: 0px 0px 30px rgb(0, 247, 255);
    }

    85% {
        text-shadow: 0px 0px 30px #40ff2f;
    }
}

@keyframes scale {
    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}